@font-face{
    font-family: 'FiraSans';
    src: local('FiraSans-Regular'),
        url('FiraSans-Regular.woff');
}

body{
    background-color: rgb(34, 150, 90);
    font-family: FiraSans;
}
h1{
    color:white;
    font-size: 3em;
}
#MainTitle{
    grid-column: 2/6;
text-align: center;
}
.root {
    display: grid;
    grid-template-columns: 20% 20% 6% 1% 20% auto;
    grid-template-rows: 15% 5% auto;
    width: 100vw;
    height: 100vh;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    /* margin: 1em 0; */
    padding: 0;
}
.ActionButton{
    display:inline-block;
    height: 3em;
    font-weight: bold;
    font-family: FiraSans;
}
#canvasArea {
    background-color: rgb(184, 226, 253);
    border-radius: 2%;
    /*width:100%;
    height:100%;*/
}

.canvasContainer {
    color: red;
    grid-column: 2/4;
    grid-row: 3/5;
}

.menu {
    color: blue;
    grid-column: 2/4;
    grid-row: 2/3;
}

.svgOutput {
    width: 100%;
    height: auto;
    background-color: rgb(56, 68, 201);
    border-radius: 2%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    grid-column: 5;
    grid-row: 3;
    
}
#svgPathOut{
    grid-row:2/3;
    grid-column: 1/2;
    padding: 5%;
    color:white;
    flex:1;
}
.title{
    grid-row: 1/2;
    grid-column: 1/2;
    padding-left: 5%;
    
}

.title > h3{
    color:white;
}
.title > hr{
    width: 95%;
    margin-top:-5%;
    margin-left: -2%;
}